<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBizService" />
        <binding name="BasicHttpBinding_IFileTransfer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8386/FileTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransfer" contract="FileTransferService.IFileTransfer" name="BasicHttpBinding_IFileTransfer" />
      <endpoint address="http://localhost:8386/BizService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBizService" contract="BizServiceReference.IBizService" name="BasicHttpBinding_IBizService" />
    </client>
  </system.serviceModel>
</configuration>